<a href="https://colab.research.google.com/github/cardstud/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/module2-sampling-confidence-intervals-and-hypothesis-testing/LS_DS_132_Sampling_Confidence_Intervals_and_Hypothesis_Testing_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment - Build a confidence interval

A confidence interval refers to a neighborhood around some point estimate, the size of which is determined by the desired p-value. For instance, we might say that 52% of Americans prefer tacos to burritos, with a 95% confidence interval of +/- 5%.

52% (0.52) is the point estimate, and +/- 5% (the interval $[0.47, 0.57]$) is the confidence interval. "95% confidence" means a p-value $\leq 1 - 0.95 = 0.05$.

In this case, the confidence interval includes $0.5$ - which is the natural null hypothesis (that half of Americans prefer tacos and half burritos, thus there is no clear favorite). So in this case, we could use the confidence interval to report that we've failed to reject the null hypothesis.

But providing the full analysis with a confidence interval, including a graphical representation of it, can be a helpful and powerful way to tell your story. Done well, it is also more intuitive to a layperson than simply saying "fail to reject the null hypothesis" - it shows that in fact the data does *not* give a single clear result (the point estimate) but a whole range of possibilities.

How is a confidence interval built, and how should it be interpreted? It does *not* mean that 95% of the data lies in that interval - instead, the frequentist interpretation is "if we were to repeat this experiment 100 times, we would expect the average result to lie in this interval ~95 times."

For a 95% confidence interval and a normal(-ish) distribution, you can simply remember that +/-2 standard deviations contains 95% of the probability mass, and so the 95% confidence interval based on a given sample is centered at the mean (point estimate) and has a range of +/- 2 (or technically 1.96) standard deviations.

Different distributions/assumptions (90% confidence, 99% confidence) will require different math, but the overall process and interpretation (with a frequentist approach) will be the same.

Your assignment - using the data from the prior module ([congressional voting records](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records)):


### Confidence Intervals:
1. Generate and numerically represent a confidence interval
2. Graphically (with a plot) represent the confidence interval
3. Interpret the confidence interval - what does it tell you about the data and its distribution?

### Chi-squared tests:
4. Take a dataset that we have used in the past in class that has **categorical** variables. Pick two of those categorical variables and run a chi-squared tests on that data
  - By hand using Numpy
  - In a single line using Scipy

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', header=None)

In [0]:
df.head()

           0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
0  republican  n  y  n  y  y  y  n  n  n  y  ?  y  y  y  n  y
1  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  ?
2    democrat  ?  y  y  ?  y  y  n  n  n  n  y  n  y  y  n  n
3    democrat  n  y  y  n  ?  y  n  n  n  n  y  n  y  n  n  y
4    democrat  y  y  y  n  y  y  n  n  n  n  y  ?  y  y  y  y

### Clean dataset

In [0]:
df =df.replace('?', None)
df[11][0]='n'

In [0]:
df.head()

           0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
0  republican  n  y  n  y  y  y  n  n  n  y  n  y  y  y  n  y
1  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  y
2    democrat  n  y  y  y  y  y  n  n  n  n  y  n  y  y  n  n
3    democrat  n  y  y  n  y  y  n  n  n  n  y  n  y  n  n  y
4    democrat  y  y  y  n  y  y  n  n  n  n  y  n  y  y  y  y

In [0]:
df.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
dtype: int64

In [0]:
df.describe(exclude='number')

              0    1    2    3    4    5   ...   11   12   13   14   15   16
count        435  435  435  435  435  435  ...  435  435  435  435  435  435
unique         2    2    2    2    2    2  ...    2    2    2    2    2    2
top     democrat    n    n    y    n    y  ...    n    n    y    y    n    y
freq         267  243  223  255  250  220  ...  280  257  222  254  250  343

[4 rows x 17 columns]

In [0]:
# Change n/y to binary
df =df.replace('y', 1)
df = df.replace('n', 0)
df.head()

           0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
0  republican   0   1   0   1   1   1   0   0   0   1   0   1   1   1   0   1
1  republican   0   1   0   1   1   1   0   0   0   0   0   1   1   1   0   1
2    democrat   0   1   1   1   1   1   0   0   0   0   1   0   1   1   0   0
3    democrat   0   1   1   0   1   1   0   0   0   0   1   0   1   0   0   1
4    democrat   1   1   1   0   1   1   0   0   0   0   1   0   1   1   1   1

In [0]:
df.columns = ['class', 'infants', 'water_cost', 'budget', 'fee_freeze', 'aid_elsalvador', 'rel_school', 'satellite', 'aid_contras', 'mx_missle', 'immigration', 'cutback', 'education', 'right_to_sue', 'crime', 'duty_free_ex', 'export_south_africa']
df.head()

        class  infants  water_cost  ...  crime  duty_free_ex  export_south_africa
0  republican        0           1  ...      1             0                    1
1  republican        0           1  ...      1             0                    1
2    democrat        0           1  ...      1             0                    0
3    democrat        0           1  ...      0             0                    1
4    democrat        1           1  ...      1             1                    1

[5 rows x 17 columns]

In [0]:
df.describe()

          infants  water_cost  ...  duty_free_ex  export_south_africa
count  435.000000  435.000000  ...    435.000000           435.000000
mean     0.441379    0.487356  ...      0.425287             0.788506
std      0.497123    0.500416  ...      0.494956             0.408838
min      0.000000    0.000000  ...      0.000000             0.000000
25%      0.000000    0.000000  ...      0.000000             1.000000
50%      0.000000    0.000000  ...      0.000000             1.000000
75%      1.000000    1.000000  ...      1.000000             1.000000
max      1.000000    1.000000  ...      1.000000             1.000000

[8 rows x 16 columns]

### Subset data into 2 subset for democrats and republicans italicized text

In [0]:
df_republican = df[df['class']== 'republican']

In [0]:
df_republican.head()

         class  infants  water_cost  ...  crime  duty_free_ex  export_south_africa
0   republican        0           1  ...      1             0                    1
1   republican        0           1  ...      1             0                    1
7   republican        0           1  ...      1             1                    1
8   republican        0           1  ...      1             0                    1
10  republican        0           1  ...      1             0                    0

[5 rows x 17 columns]

In [0]:
df_republican.shape

(168, 17)

In [0]:
df_republican.columns

Index(['class', 'infants', 'water_cost', 'budget', 'fee_freeze',
       'aid_elsalvador', 'rel_school', 'satellite', 'aid_contras', 'mx_missle',
       'immigration', 'cutback', 'education', 'right_to_sue', 'crime',
       'duty_free_ex', 'export_south_africa'],
      dtype='object')

In [0]:
df_republican.describe()

          infants  water_cost  ...  duty_free_ex  export_south_africa
count  168.000000  168.000000  ...    168.000000           168.000000
mean     0.190476    0.482143  ...      0.107143             0.666667
std      0.393851    0.501175  ...      0.310219             0.472814
min      0.000000    0.000000  ...      0.000000             0.000000
25%      0.000000    0.000000  ...      0.000000             0.000000
50%      0.000000    0.000000  ...      0.000000             1.000000
75%      0.000000    1.000000  ...      0.000000             1.000000
max      1.000000    1.000000  ...      1.000000             1.000000

[8 rows x 16 columns]

In [0]:
df_democrat = df[df['class']== 'democrat']

In [0]:
df_democrat.head()

      class  infants  water_cost  ...  crime  duty_free_ex  export_south_africa
2  democrat        0           1  ...      1             0                    0
3  democrat        0           1  ...      0             0                    1
4  democrat        1           1  ...      1             1                    1
5  democrat        0           1  ...      1             1                    1
6  democrat        0           1  ...      1             1                    1

[5 rows x 17 columns]

In [0]:
df_democrat.shape

(267, 17)

In [0]:
df_democrat.describe()

          infants  water_cost  ...  duty_free_ex  export_south_africa
count  267.000000  267.000000  ...    267.000000           267.000000
mean     0.599251    0.490637  ...      0.625468             0.865169
std      0.490971    0.500851  ...      0.484911             0.342185
min      0.000000    0.000000  ...      0.000000             0.000000
25%      0.000000    0.000000  ...      0.000000             1.000000
50%      1.000000    0.000000  ...      1.000000             1.000000
75%      1.000000    1.000000  ...      1.000000             1.000000
max      1.000000    1.000000  ...      1.000000             1.000000

[8 rows x 16 columns]

### Generate Confidence intervals
1. Generate and numerically represent a confidence interval
2. Graphically (with a plot) represent the confidence interval
3. Interpret the confidence interval - what does it tell you about the data and its distribution?

In [0]:
from scipy import stats
def confidence_interval(data, confidence=0.95):
  data = np.array(data)
  mean = np.array(data)
  n = len(data)
  stderr = stats.sem(data)
  t = stats.t.ppf((1 + confidence) / 2.0, n-1)
  interval = stderr * t
  return(mean, mean-interval, mean + interval)

In [0]:
a= df_democrat['infants']

In [0]:
sample_size = 100
sample = a.sample(sample_size)
sample.head()

320    0
17     1
64     1
275    0
153    0
Name: infants, dtype: int64

In [0]:
sample_mean = sample.mean()
sample_std = np.std(sample, ddof=1)
print(sample_mean, sample_std)

0.63 0.4852365870939099

In [0]:
standard_error = sample_std/np.sqrt(sample_size)
standard_error

0.04852365870939099

In [0]:
confidence_interval(sample, confidence=0.95)

(array([0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1,
        1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1,
        0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1,
        1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0,
        0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1]),
 array([-0.09628147,  0.90371853,  0.90371853, -0.09628147, -0.09628147,
         0.90371853, -0.09628147,  0.90371853, -0.09628147,  0.90371853,
         0.90371853, -0.09628147, -0.09628147, -0.09628147,  0.90371853,
         0.90371853,  0.90371853,  0.90371853,  0.90371853,  0.90371853,
        -0.09628147,  0.90371853,  0.90371853, -0.09628147, -0.09628147,
         0.90371853,  0.90371853,  0.90371853,  0.90371853,  0.90371853,
         0.90371853,  0.90371853,  0.90371853, -0.09628147,  0.90371853,
        -0.09628147,  0.90371853,  0.90371853,  0.90371853, -0.09628147,
         0.90371853, -0.09628147,  0.90371853,  0.90371853, -0.09628147,
         0.90371853, -0.09628147,  0.90371853,  0.90371853,  0.90371853,
         0.90371853, -0.09628147, -0.09628147,  0.90371853, -0.09628147,
         0.90371853, -0.09628147,  0.90371853, -0.09628147,  0.90371853,
        -0.09628147,  0.90371853, -0.09628147, -0.09628147, -0.09628147,
         0.90371853,  0.90371853,  0.90371853,  0.90371853, -0.09628147,
         0.90371853,  0.90371853,  0.90371853,  0.90371853, -0.09628147,
         0.90371853,  0.90371853,  0.90371853,  0.90371853, -0.09628147,
         0.90371853,  0.90371853,  0.90371853,  0.90371853, -0.09628147,
         0.90371853, -0.09628147, -0.09628147, -0.09628147,  0.90371853,
         0.90371853, -0.09628147, -0.09628147,  0.90371853,  0.90371853,
        -0.09628147, -0.09628147,  0.90371853,  0.90371853,  0.90371853]),
 array([0.09628147, 1.09628147, 1.09628147, 0.09628147, 0.09628147,
        1.09628147, 0.09628147, 1.09628147, 0.09628147, 1.09628147,
        1.09628147, 0.09628147, 0.09628147, 0.09628147, 1.09628147,
        1.09628147, 1.09628147, 1.09628147, 1.09628147, 1.09628147,
        0.09628147, 1.09628147, 1.09628147, 0.09628147, 0.09628147,
        1.09628147, 1.09628147, 1.09628147, 1.09628147, 1.09628147,
        1.09628147, 1.09628147, 1.09628147, 0.09628147, 1.09628147,
        0.09628147, 1.09628147, 1.09628147, 1.09628147, 0.09628147,
        1.09628147, 0.09628147, 1.09628147, 1.09628147, 0.09628147,
        1.09628147, 0.09628147, 1.09628147, 1.09628147, 1.09628147,
        1.09628147, 0.09628147, 0.09628147, 1.09628147, 0.09628147,
        1.09628147, 0.09628147, 1.09628147, 0.09628147, 1.09628147,
        0.09628147, 1.09628147, 0.09628147, 0.09628147, 0.09628147,
        1.09628147, 1.09628147, 1.09628147, 1.09628147, 0.09628147,
        1.09628147, 1.09628147, 1.09628147, 1.09628147, 0.09628147,
        1.09628147, 1.09628147, 1.09628147, 1.09628147, 0.09628147,
        1.09628147, 1.09628147, 1.09628147, 1.09628147, 0.09628147,
        1.09628147, 0.09628147, 0.09628147, 0.09628147, 1.09628147,
        1.09628147, 0.09628147, 0.09628147, 1.09628147, 1.09628147,
        0.09628147, 0.09628147, 1.09628147, 1.09628147, 1.09628147]))

## Stretch goals:

1. Write a summary of your findings, mixing prose and math/code/results. *Note* - yes, this is by definition a political topic. It is challenging but important to keep your writing voice *neutral* and stick to the facts of the data. Data science often involves considering controversial issues, so it's important to be sensitive about them (especially if you want to publish).
2. Apply the techniques you learned today to your project data or other data of your choice, and write/discuss your findings here.
3. Refactor your code so it is elegant, readable, and can be easily run for all issues.

## Resources

- [Interactive visualize the Chi-Squared test](https://homepage.divms.uiowa.edu/~mbognar/applets/chisq.html)
- [Calculation of Chi-Squared test statistic](https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test)
- [Visualization of a confidence interval generated by R code](https://commons.wikimedia.org/wiki/File:Confidence-interval.svg)
- [Expected value of a squared standard normal](https://math.stackexchange.com/questions/264061/expected-value-calculation-for-squared-normal-distribution) (it's 1 - which is why the expected value of a Chi-Squared with $n$ degrees of freedom is $n$, as it's the sum of $n$ squared standard normals)