<a href="https://colab.research.google.com/github/cardstud/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/module1-statistics-probability-and-inference/LS_DS_131_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
# Save file to notebook
from google.colab import files
uploaded = files.upload()

Saving house-votes-84.csv to house-votes-84.csv

In [0]:
# Import data analysis and visualization libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

### Attribute Information:

0. Class Name: 2 (democrat, republican)
1. handicapped-infants: 2 (y,n)
2. water-project-cost-sharing: 2 (y,n)
3. adoption-of-the-budget-resolution: 2 (y,n)
4. physician-fee-freeze: 2 (y,n)
5. el-salvador-aid: 2 (y,n)
6. religious-groups-in-schools: 2 (y,n)
7. anti-satellite-test-ban: 2 (y,n)
8. aid-to-nicaraguan-contras: 2 (y,n)
9. mx-missile: 2 (y,n)
10. immigration: 2 (y,n)
11. synfuels-corporation-cutback: 2 (y,n)
12. education-spending: 2 (y,n)
13. superfund-right-to-sue: 2 (y,n)
14. crime: 2 (y,n)
15. duty-free-exports: 2 (y,n)
16. export-administration-act-south-africa: 2 (y,n)

In [0]:
# Save csv as a Pandas DataFrame: also, noticed header issue so fixed
df= pd.read_csv('house-votes-84.csv', header=None)

In [0]:
# Check head for issues
df.head()

           0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
0  republican  n  y  n  y  y  y  n  n  n  y  ?  y  y  y  n  y
1  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  ?
2    democrat  ?  y  y  ?  y  y  n  n  n  n  y  n  y  y  n  n
3    democrat  n  y  y  n  ?  y  n  n  n  n  y  n  y  n  n  y
4    democrat  y  y  y  n  y  y  n  n  n  n  y  ?  y  y  y  y

In [0]:
# Check tail
df.tail()

             0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
430  republican  n  n  y  y  y  y  n  n  y  y  n  y  y  y  n  y
431    democrat  n  n  y  n  n  n  y  y  y  y  n  n  n  n  n  y
432  republican  n  ?  n  y  y  y  n  n  n  n  y  y  y  y  n  y
433  republican  n  n  n  y  y  y  ?  ?  ?  ?  n  y  y  y  n  y
434  republican  n  y  n  y  y  y  n  n  n  y  n  y  y  y  ?  n

In [0]:
# Check random sample from df
df.sample(8)

             0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
80     democrat  y  n  y  n  n  y  y  y  y  y  n  y  n  y  n  ?
265    democrat  y  n  y  n  n  n  y  y  y  y  n  n  n  n  n  y
428    democrat  ?  ?  ?  n  n  n  y  y  y  y  n  n  y  n  y  y
353  republican  n  n  y  y  y  y  y  n  n  y  y  y  y  y  n  y
334    democrat  n  y  y  n  n  y  y  y  ?  n  y  y  n  n  y  y
149    democrat  n  n  y  n  n  n  y  y  y  y  n  n  y  n  y  y
347  republican  y  n  n  y  y  y  n  n  n  y  n  y  y  y  n  n
252    democrat  y  y  y  n  n  y  y  y  y  n  n  n  n  n  y  y

In [0]:
# Check Shape and see if matches websites numbers (site has 435 observations, 17 total attributes -16 + target)
df.shape

(435, 17)

In [0]:
df.head(10)

           0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
0  republican  n  y  n  y  y  y  n  n  n  y  ?  y  y  y  n  y
1  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  ?
2    democrat  ?  y  y  ?  y  y  n  n  n  n  y  n  y  y  n  n
3    democrat  n  y  y  n  ?  y  n  n  n  n  y  n  y  n  n  y
4    democrat  y  y  y  n  y  y  n  n  n  n  y  ?  y  y  y  y
5    democrat  n  y  y  n  y  y  n  n  n  n  n  n  y  y  y  y
6    democrat  n  y  n  y  y  y  n  n  n  n  n  n  ?  y  y  y
7  republican  n  y  n  y  y  y  n  n  n  n  n  n  y  y  ?  y
8  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  y
9    democrat  y  y  y  n  n  n  y  y  y  n  n  n  n  n  ?  ?

In [0]:
# Check for odd characters. Found ?. Replace with NaN values
df =df.replace('?', None)

In [0]:
df[11][0]='n'

In [0]:
# Check head again to see if values replaced. They were.
df.head(10)

           0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
0  republican  n  y  n  y  y  y  n  n  n  y  n  y  y  y  n  y
1  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  y
2    democrat  n  y  y  y  y  y  n  n  n  n  y  n  y  y  n  n
3    democrat  n  y  y  n  y  y  n  n  n  n  y  n  y  n  n  y
4    democrat  y  y  y  n  y  y  n  n  n  n  y  n  y  y  y  y
5    democrat  n  y  y  n  y  y  n  n  n  n  n  n  y  y  y  y
6    democrat  n  y  n  y  y  y  n  n  n  n  n  n  y  y  y  y
7  republican  n  y  n  y  y  y  n  n  n  n  n  n  y  y  y  y
8  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  y
9    democrat  y  y  y  n  n  n  y  y  y  n  n  n  n  n  n  y

In [0]:
# Find sum of missing values
df.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
dtype: int64

In [0]:
# Check to see if NaN changed to 'nv'
df.head()

           0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
0  republican  n  y  n  y  y  y  n  n  n  y  n  y  y  y  n  y
1  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  y
2    democrat  n  y  y  y  y  y  n  n  n  n  y  n  y  y  n  n
3    democrat  n  y  y  n  y  y  n  n  n  n  y  n  y  n  n  y
4    democrat  y  y  y  n  y  y  n  n  n  n  y  n  y  y  y  y

In [0]:
# Check some summary statistics 
df.describe(exclude='number')

              0    1    2    3    4    5   ...   11   12   13   14   15   16
count        435  435  435  435  435  435  ...  435  435  435  435  435  435
unique         2    2    2    2    2    2  ...    2    2    2    2    2    2
top     democrat    n    n    y    n    y  ...    n    n    y    y    n    y
freq         267  243  223  255  250  220  ...  280  257  222  254  250  343

[4 rows x 17 columns]

In [0]:
# Change n/y to binary
df =df.replace('y', 1)
df = df.replace('n', 0)

In [0]:
df.head()

           0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
0  republican   0   1   0   1   1   1   0   0   0   1   0   1   1   1   0   1
1  republican   0   1   0   1   1   1   0   0   0   0   0   1   1   1   0   1
2    democrat   0   1   1   1   1   1   0   0   0   0   1   0   1   1   0   0
3    democrat   0   1   1   0   1   1   0   0   0   0   1   0   1   0   0   1
4    democrat   1   1   1   0   1   1   0   0   0   0   1   0   1   1   1   1

In [0]:
# Change column names
df.columns = ['class', 'infants', 'water_cost', 'budget', 'fee_freeze', 'aid_elsalvador', 'rel_school', 'satellite', 'aid_contras', 'mx_missle', 'immigration', 'cutback', 'education', 'right_to_sue', 'crime', 'duty_free_ex', 'export_south_africa']

In [0]:
df.head()

        class  infants  water_cost  ...  crime  duty_free_ex  export_south_africa
0  republican        0           1  ...      1             0                    1
1  republican        0           1  ...      1             0                    1
2    democrat        0           1  ...      1             0                    0
3    democrat        0           1  ...      0             0                    1
4    democrat        1           1  ...      1             1                    1

[5 rows x 17 columns]

In [0]:
df.describe()

          infants  water_cost  ...  duty_free_ex  export_south_africa
count  435.000000  435.000000  ...    435.000000           435.000000
mean     0.441379    0.487356  ...      0.425287             0.788506
std      0.497123    0.500416  ...      0.494956             0.408838
min      0.000000    0.000000  ...      0.000000             0.000000
25%      0.000000    0.000000  ...      0.000000             1.000000
50%      0.000000    0.000000  ...      0.000000             1.000000
75%      1.000000    1.000000  ...      1.000000             1.000000
max      1.000000    1.000000  ...      1.000000             1.000000

[8 rows x 16 columns]

In [0]:
df_republican = df[df['class']== 'republican']

In [0]:
df_republican.shape

(168, 17)

In [0]:
df_republican.columns

Index(['class', 'infants', 'water_cost', 'budget', 'fee_freeze',
       'aid_elsalvador', 'rel_school', 'satellite', 'aid_contras', 'mx_missle',
       'immigration', 'cutback', 'education', 'right_to_sue', 'crime',
       'duty_free_ex', 'export_south_africa'],
      dtype='object')

In [0]:
df_democrat = df[df['class']== 'democrat']

In [0]:
df_democrat.shape

(267, 17)

In [0]:
df.shape

(435, 17)

In [0]:
df_democrat.describe()

          infants  water_cost  ...  duty_free_ex  export_south_africa
count  267.000000  267.000000  ...    267.000000           267.000000
mean     0.599251    0.490637  ...      0.625468             0.865169
std      0.490971    0.500851  ...      0.484911             0.342185
min      0.000000    0.000000  ...      0.000000             0.000000
25%      0.000000    0.000000  ...      0.000000             1.000000
50%      1.000000    0.000000  ...      1.000000             1.000000
75%      1.000000    1.000000  ...      1.000000             1.000000
max      1.000000    1.000000  ...      1.000000             1.000000

[8 rows x 16 columns]

In [0]:
df_republican.describe()

          infants  water_cost  ...  duty_free_ex  export_south_africa
count  168.000000  168.000000  ...    168.000000           168.000000
mean     0.190476    0.482143  ...      0.107143             0.666667
std      0.393851    0.501175  ...      0.310219             0.472814
min      0.000000    0.000000  ...      0.000000             0.000000
25%      0.000000    0.000000  ...      0.000000             0.000000
50%      0.000000    0.000000  ...      0.000000             1.000000
75%      0.000000    1.000000  ...      0.000000             1.000000
max      1.000000    1.000000  ...      1.000000             1.000000

[8 rows x 16 columns]

In [0]:
df_republican.dtypes

class                  object
infants                 int64
water_cost              int64
budget                  int64
fee_freeze              int64
aid_elsalvador          int64
rel_school              int64
satellite               int64
aid_contras             int64
mx_missle               int64
immigration             int64
cutback                 int64
education               int64
right_to_sue            int64
crime                   int64
duty_free_ex            int64
export_south_africa     int64
dtype: object

In [0]:
# Null hypothesis:  Republicans vote yes about the same as democrats vote yes on infant issue
# alternative hypothesis: Republicans don't vote same as democrats on infant issue

In [0]:
df_republican

          class  infants  water_cost  ...  crime  duty_free_ex  export_south_africa
0    republican        0           1  ...      1             0                    1
1    republican        0           1  ...      1             0                    1
7    republican        0           1  ...      1             1                    1
8    republican        0           1  ...      1             0                    1
10   republican        0           1  ...      1             0                    0
11   republican        0           1  ...      1             0                    0
14   republican        0           1  ...      0             0                    0
15   republican        0           1  ...      0             0                    0
18   republican        0           1  ...      1             0                    0
28   republican        1           0  ...      1             0                    1
30   republican        0           1  ...      1             0                    0
33   republican        0           1  ...      1             0                    1
35   republican        0           1  ...      1             0                    0
36   republican        1           1  ...      1             0                    1
37   republican        1           1  ...      1             0                    1
38   republican        0           1  ...      1             0                    0
49   republican        0           1  ...      1             0                    0
51   republican        0           1  ...      1             0                    1
53   republican        1           1  ...      1             0                    0
55   republican        0           1  ...      1             0                    0
56   republican        0           1  ...      1             0                    1
57   republican        0           1  ...      1             0                    1
58   republican        0           1  ...      1             0                    1
59   republican        0           1  ...      1             0                    1
61   republican        0           1  ...      1             0                    0
65   republican        1           1  ...      1             0                    1
66   republican        0           1  ...      1             0                    1
67   republican        0           1  ...      1             0                    0
71   republican        1           1  ...      1             0                    1
73   republican        1           0  ...      1             0                    1
..          ...      ...         ...  ...    ...           ...                  ...
356  republican        0           0  ...      1             0                    0
357  republican        0           0  ...      1             0                    0
359  republican        0           0  ...      1             0                    1
363  republican        1           1  ...      0             0                    0
364  republican        1           1  ...      1             0                    1
369  republican        0           1  ...      1             0                    1
374  republican        0           1  ...      1             0                    1
377  republican        0           1  ...      0             1                    1
378  republican        0           0  ...      1             0                    1
379  republican        0           0  ...      1             0                    1
392  republican        1           1  ...      1             0                    1
393  republican        1           1  ...      0             0                    1
399  republican        0           1  ...      1             0                    0
400  republican        0           1  ...      1             0                    0
401  republican        0           1  ...      1             0                    0
402  republican        0           0  ...      1             0                    1
403  republican        0           1  ...      1             0                    0
404  republican        1           1  ...      1             0                    1
405  republican        0           0  ...      1             0                    1
409  republican        0           0  ...      1             0                    0
410  republican        0           0  ...      1             0                    1
412  republican        0           0  ...      1             0                    1
413  republican        1           1  ...      1             0                    1
416  republican        1           1  ...      1             0                    1
420  republican        1           1  ...      1             0                    1
427  republican        0           0  ...      1             0                    1
430  republican        0           0  ...      1             0                    1
432  republican        0           0  ...      1             0                    1
433  republican        0           0  ...      1             0                    1
434  republican        0           1  ...      1             0                    0

[168 rows x 17 columns]

In [0]:
rep_infants = df_republican.groupby('class')['infants'].mean()

In [0]:
rep_infants

class
republican    0.190476
Name: infants, dtype: float64

In [0]:
demo_infants = (df_democrat.groupby('class')['infants'].mean())

In [0]:
demo_infants

class
democrat    0.599251
Name: infants, dtype: float64

In [0]:
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [0]:
# t test
ttest_ind(rep_infants, demo_infants);

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:3367: RuntimeWarning: Degrees of freedom <= 0 for slice
  **kwargs)
/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:132: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.